*.ant linguist-language=Ant linguist-vendored=false
*.bat linguist-language=CMD Batch linguist-vendored=false
*.coffee linguist-language=Coffee linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.csv linguist-language=Csv linguist-vendored=false
*.cur linguist-language=Cur linguist-vendored=false
*.doc linguist-language=Doc linguist-vendored=false
*.docx linguist-language=Docx linguist-vendored=false
*.dotx linguist-language=Dotx linguist-vendored=false
*.dtd linguist-language=Dtd linguist-vendored=false
*.eot linguist-language=Eot linguist-vendored=false
*.erb linguist-language=Erb linguist-vendored=false
*.example linguist-language=Example linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.factorypath linguist-language=Factorypath linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.goutputstream-n8sw7w linguist-language=Goutputstream-n8sw7w linguist-vendored=false
*.gradle linguist-language=Gradle linguist-vendored=false
*.hgignore linguist-language=Hgignore linguist-vendored=false
*.hgtags linguist-language=Hgtags linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ini linguist-language=Ini linguist-vendored=false
*.jade linguist-language=Jade linguist-vendored=false
*.jar linguist-language=Jar linguist-vendored=false
*.java linguist-language=Java linguist-vendored=false
*.jj linguist-language=Jj linguist-vendored=false
*.jpeg linguist-language=Jpeg linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.jshintrc linguist-language=Jshintrc linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.jsp linguist-language=Jsp linguist-vendored=false
*.less linguist-language=Less linguist-vendored=false
*.list linguist-language=List linguist-vendored=false
*.local linguist-language=Local linguist-vendored=false
*.lock linguist-language=Lock linguist-vendored=false
*.map linguist-language=Map linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mf linguist-language=Mf linguist-vendored=false
*.mp4 linguist-language=Mp4 linguist-vendored=false
*.odp linguist-language=Odp linguist-vendored=false
*.ods linguist-language=Ods linguist-vendored=false
*.odt linguist-language=Odt linguist-vendored=false
*.ora linguist-language=Ora linguist-vendored=false
*.otf linguist-language=Otf linguist-vendored=false
*.ots linguist-language=Ots linguist-vendored=false
*.pdf linguist-language=Pdf linguist-vendored=false
*.php linguist-language=PHP linguist-vendored=false
*.pl linguist-language=Pl linguist-vendored=false
*.pm linguist-language=Pm linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.pot linguist-language=Pot linguist-vendored=false
*.potx linguist-language=Potx linguist-vendored=false
*.pps linguist-language=Pps linguist-vendored=false
*.ppsx linguist-language=Ppsx linguist-vendored=false
*.ppt linguist-language=Ppt linguist-vendored=false
*.pptx linguist-language=Pptx linguist-vendored=false
*.project linguist-language=Project linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.ps1 linguist-language=Powershell linguist-vendored=false
*.psd linguist-language=Psd linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.pyc linguist-language=Pyc linguist-vendored=false
*.pydevproject linguist-language=Pydevproject linguist-vendored=false
*.pyt linguist-language=Pyt linguist-vendored=false
*.rb linguist-language=Ruby linguist-vendored=false
*.readme linguist-language=Readme linguist-vendored=false
*.rst linguist-language=Rst linguist-vendored=false
*.scss linguist-language=Scss linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.sql linguist-language=Sql linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.svn-base linguist-language=Svn-base linguist-vendored=false
*.ttf linguist-language=Ttf linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.wav linguist-language=Wav linguist-vendored=false
*.woff linguist-language=Woff linguist-vendored=false
*.xls linguist-language=Xls linguist-vendored=false
*.xlsm linguist-language=Xlsm linguist-vendored=false
*.xlsx linguist-language=Xlsx linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.xsd linguist-language=Xsd linguist-vendored=false
*.xsl linguist-language=Xsl linguist-vendored=false
*.xslt linguist-language=Xslt linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
*.zip linguist-language=Zip linguist-vendored=false
